body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f5f4;
}

header {
  background: #1b8f48;
  padding: 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: #d9f7e3;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #1b8f48;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 10px;
}

.product-container {
  padding: 30px;
}

.products {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.product img {
  width: 100%;
}

.cart-container {
  padding: 20px;
}

.checkout-btn {
  display: inline-block;
  background: #1b8f48;
  padding: 12px;
  color: white;
  text-decoration: none;
  border-radius: 7px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #1b8f48;
  color: white;
}
